name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
      - uses: maxim-lobanov/setup-xcode@v1
        with:
            xcode-version: latest-stable

      - name: List available iOS simulators
        run: xcrun simctl list devices

      - name: Install SwiftLint
        run: brew install swiftlint

      - name: Run SwiftLint
        run: swiftlint

      - name: Build and test
        run: |
          xcodebuild clean build test \
            -project HotelsDemo.xcodeproj \
            -scheme "HotelsDemo" \
            -destination 'platform=iOS Simulator,name=iPhone 17 Pro,OS=latest' \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            ONLY_ACTIVE_ARCH=YES
